body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-family: "Atkinson Hyperlegible Next";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#center-column {
    width: 90vw;
    max-width: 500px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Faustina", serif;
    font-weight: 400;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #6767ff;
}

a:visited {
    color: #6767ff;
}

li a {
    font-size: 1.5em;
    text-decoration: none;
}

footer {
    width: 100vw;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}